USE [db]
GO
/****** Object:  Table [dbo].[article]    Script Date: 2022/4/7 上午 12:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uuid] [char](24) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [ntext] NOT NULL,
	[page_views] [int] NOT NULL,
	[members_uid] [int] NOT NULL,
	[publish_time] [date] NOT NULL,
 CONSTRAINT [PK_articles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[article_tag]    Script Date: 2022/4/7 上午 12:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article_tag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[article_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_article_tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 2022/4/7 上午 12:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uuid] [char](24) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[content] [ntext] NOT NULL,
	[type] [varchar](15) NOT NULL,
	[parent_id] [int] NULL,
	[class_cid] [int] NOT NULL,
	[members_uid] [int] NOT NULL,
	[post_time] [datetime] NOT NULL,
	[edit_time] [datetime] NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 2022/4/7 上午 12:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[category] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD  CONSTRAINT [FK_article_members] FOREIGN KEY([members_uid])
REFERENCES [dbo].[members] ([uid])
GO
ALTER TABLE [dbo].[article] CHECK CONSTRAINT [FK_article_members]
GO
ALTER TABLE [dbo].[article_tag]  WITH CHECK ADD  CONSTRAINT [FK_article_tag_article] FOREIGN KEY([article_id])
REFERENCES [dbo].[article] ([id])
GO
ALTER TABLE [dbo].[article_tag] CHECK CONSTRAINT [FK_article_tag_article]
GO
ALTER TABLE [dbo].[article_tag]  WITH CHECK ADD  CONSTRAINT [FK_article_tag_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tag] ([id])
GO
ALTER TABLE [dbo].[article_tag] CHECK CONSTRAINT [FK_article_tag_tag]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_class] FOREIGN KEY([class_cid])
REFERENCES [dbo].[class] ([cid])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_class]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_comment] FOREIGN KEY([parent_id])
REFERENCES [dbo].[comment] ([id])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_comment]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_members] FOREIGN KEY([members_uid])
REFERENCES [dbo].[members] ([uid])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_members]
GO
