/* Global style start */
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5em;
}

h4 {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.65);
}

a,
a:visited,
a:hover,
a:active,
a:focus,
input,
select,
textarea {
  outline: none;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}

textarea {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 8px 10px;
  width: 100%;
  resize: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
/* Global style end */


.comments-container {
  font-family: "PingFang TC", 微軟正黑體, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  grid-column: viewport-start / viewport-end;
  background-color: rgb(243, 243, 241);
  margin-top: 50px;
  padding-bottom: 50px;
  --gutter-width: 30px;
  --content-width: calc(100% - (52px * 2));
  --column-width: calc((var(--content-width) - (var(--gutter-width) * 11)) / 12);
  display: grid;
  grid-template-columns: [viewport-start] minmax(0, 1fr) [content-start main-content-start] repeat(7, var(--column-width) var(--gutter-width)) var(--column-width) [main-content-end] var(--gutter-width) [panel-start] repeat(3, var(--column-width) var(--gutter-width)) var(--column-width) [panel-end content-end] minmax(0, 1fr) [viewport-end];
}

.comments-wrapper {
  position: relative;
  grid-column: content-start / content-end;
}

.comments-wrapper> :last-child {
  margin-bottom: 32px;
}

/* 購課前問 */
.bRHHsq {
  margin: 0px 0px 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.comments {
  position: relative;
}

/* Post comment start */
.isolated-comment-item {
  display: block;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.pad-rl-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.pad-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.marg-b-20 {
  margin-bottom: 20px;
}

/* Profile avatar style */
.isolated-comment-item .profile-image {
  z-index: 1;
}

.isolated-comment-item .profile-image {
  position: absolute;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 56px;
  width: 56px;
  border: 2px solid white;
  display: inline-block;
  box-shadow: rgb(0 0 0 / 24%) 0px 0px 2px;
}

/* img */
.aratar--img {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover;
}

/* Username style */
.isolated-comment-item .profile-image-sm+.comment-wrap .comment-extra-info {
  padding-left: 75px;
}

.comments .comment-extra-info,
.comments .comment-extra-info a {
  color: rgba(0, 0, 0, 0.43);
}

.text-sm {
  font-size: 14px;
}

.isolated-comment-item .first-row {
  display: inline-block;
}

.comments .comment-extra-info,
.comments .comment-extra-info a {
  color: rgba(0, 0, 0, 0.43);
}

/* content text style */
.isolated-comment-item .profile-image-sm+.comment-wrap .comment-content-edit {
  margin-left: 75px;
}

.isolated-comment-item .comment-wrap .comment-content-edit {
  margin-top: 30px;
}

.first-level-isolated-comment-item .comment-content-edit {
  margin-left: 75px !important;
}

.pad-l-10 {
  padding-left: 10px;
}

.pad-r-10 {
  padding-right: 10px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-t-10 {
  padding-top: 10px;
}

/* Comment description */
.comment-description {
  display: flex;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 12px 0px 10px;
}

.button-wrapper {
  width: 100%;
  flex-shrink: 0;
  padding-bottom: 8px;
}

/* 留言 button style */
.button--submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgb(250, 139, 0);
  white-space: nowrap;
  user-select: none;
  font-weight: 400;
  background-color: rgb(250, 139, 0);
  color: white;
  padding: 0.5em 1.5em;
  font-size: 16px;
  border-radius: 3px;
  line-height: 1.375em;
}

.button--submit:hover {
  background-color: rgb(240, 108, 0);
  border-color: rgb(240, 108, 0);
  color: white;
}

.button--submit[disabled] {
  background-color: rgb(204, 204, 204);
  border-color: rgb(204, 204, 204);
  color: white;
}

.button--submit[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

/* 取消 button style */
.marg-r-10 {
  margin-right: 10px;
}

.button--cancel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.43);
  white-space: nowrap;
  user-select: none;
  font-weight: 400;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.65);
  padding: 0.5em 1.5em;
  font-size: 16px;
  border-radius: 3px;
  line-height: 1.375em;
}

.button--cancel:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.43);
  color: rgb(250, 139, 0);
}

/* description text style */
.comment-description__text {
  padding-right: 10px;
  padding-left: 80px;
  text-align: left;
}

/* Post comment end */

/* Comment style start */
.isolated-comment-item {
  display: block;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.pad-rl-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.pad-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.marg-b-20 {
  margin-bottom: 20px;
}

/* Comment content text style */
.isolated-comment-item .profile-image-sm+.comment-wrap .comment-content {
  padding-left: 75px;
}

.isolated-comment-item .comment-wrap .comment-content {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

/* Sub comment style */
.isolated-comment-item .sub-comment {
  margin-left: 75px;
}

.marg-t-20 {
  margin-top: 20px;
}

/* sub comment profile style */
.dOurpm {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  display: inline-block;
  box-shadow: rgb(0 0 0 / 24%) 0px 0px 2px;
}

/* Comment content style */
.isolated-comment-item .profile-image-xs+.comment-wrap {
  position: relative;
}

.isolated-comment-item .profile-image-xs+.comment-wrap .comment-extra-info {
  padding-top: 5px;
  padding-left: 60px;
}

.isolated-comment-item .profile-image-xs+.comment-wrap .comment-content-edit {
  margin-left: 60px;
}

/* 授課老師 tag style */
.isolated-comment-item .tag-gray {
  font-size: 1em;
}

.marg-r-5 {
  margin-right: 5px;
}

.tag-gray {
  background: rgba(0, 0, 0, 0.65);
}

.tag,
.tag-coral,
.tag-orange,
.tag-gray {
  font-size: 12px;
  border-radius: 100px;
  color: white;
  padding: 4px 10px;
  white-space: nowrap;
}

/* Comment text style */
.isolated-comment-item .profile-image-xs+.comment-wrap .comment-content {
  padding-left: 60px;
}

/* 回覆 style */
.isolated-comment-item hr {
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: 75px;
}

.marg-b-10 {
  margin-bottom: 10px;
}

/* reply text style */
.isolated-comment-item .reply-text {
  margin-left: 75px;
  color: rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.pseudo-btn {
  cursor: pointer;
}

/* reply icon style*/
.pad-r-5 {
  padding-right: 5px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Comment style end */

/* Media query start */
@media (min-width: 768px) {
  .comments-container {
    --content-width: 720px;
  }

  .comment-description {
    flex-flow: row-reverse;
  }

  .button-wrapper {
    width: auto;
  }
}

@media (min-width: 992px) {
  .comments-container {
    --content-width: 940px;
  }

  .comments-wrapper {
    grid-column: main-content-start / main-content-end;
  }

  .comments-wrapper> :last-child {
    margin-bottom: 56px;
  }

  .comments-wrapper>* {
    margin-top: 56px;
  }
}

@media (min-width: 1200px) {
  .comments-container {
    --content-width: 1140px;
  }
}